.game-button {
    color: white;
    font-size: 4vh;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: 0px;
    cursor: pointer;
    padding: 0.9vw 1.8vw;
    border-radius: 0.8vw;

}

.game-button:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    pointer-events: none;
    z-index: 1;
}
